<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.buhuiqiming.fuchuang.mapper.SessionMapper">

        <update id="init_session">
            CREATE TABLE IF NOT EXISTS chat_session(
            session_id INT PRIMARY KEY AUTO_INCREMENT,
            user_id INT NOT NULL,
            title VARCHAR(50) NOT NULL,
            session_type VARCHAR(20) NOT NULL,
            latest_summary_id BIGINT,
            create_time TIMESTAMP NOT NULL
            );
        </update>

        <resultMap id="MySession" type="org.buhuiqiming.fuchuang.entity.MySession">
            <id property="sessionId" column="session_id"/>
            <result property="userId" column="user_id"/>
            <result property="title" column="title"/>
            <result property="sessionType" column="session_type"/>
            <result property="createTime" column="create_time"/>

        </resultMap>
</mapper>